.historyBox {
  max-width: 875px;
  margin-top: 150px;
  height: max-content;
  margin-bottom: 150px;
}

.historyHeader {
  min-width: 900px;
}

.historyRoot {
  min-width: 900px;
}

.history-table {
  width: 90%;
}

.table-row {
  width: 100%;
  display: flex;
  flex-direction: "row";
  margin-bottom: 10px;
  border-radius: 25px;
  box-shadow: 0px 5px 25px 5px black;
}

.column {
  font-size: 20px;
  margin: 0;
  width: 25%;
  padding: 10px 10px 10px 10px;
  outline: none;
  border: none;
  background-color: #e3f2fd;
}

.column1 {
  width: 30%;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}

.column2 {
  width: 30%;
  cursor: copy;
}

.column4 {
  width: 15%;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}

.history-table span {
  font-size: 30px;
  padding-bottom: 5px;
  background-color: #e3f2fd;
  border: none;
}

.table-header {
  border: 2px solid black;
  background-color: cornflowerblue;
  margin-bottom: 25px;
}

.table-header .column {
  cursor: default;
}

.header-col {
  text-align: center;
  font-weight: bold;
  padding-left: 0;
  background-color: cornflowerblue;
  color: white;
}

.table-header span {
  background-color: cornflowerblue;
}

.no-urls {
  font-size: 50px;
  color: white;
}

.mainbox-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  margin-top: 20px;
}

.mainbox-footer .div_2 {
  /* border: 1px solid black; */
  width: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.mainbox-footer .themed-btn {
  height: 50px;
  padding-top: 5px;
  margin: 0;
}

.mainbox-footer label {
  color: white;
  font-size: 20px;
  text-shadow: 0px 10px 10px black;
}

.number-input {
  border-radius: 25px;
  padding: 10px;
  width: 100px;
  font-size: 20px;
  border-width: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #e3f2fd;
  text-align: center;
  box-shadow: 0px 5px 25px 5px black;
}

.number-input:focus {
  outline: none;
  box-shadow: 0px 5px 15px 5px black;
}

.loader {
  min-width: 500px;
}
